.test
{
  color:red;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}
.viraj_var
{
  color:red;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}
/* .btn-success{
  color:white;
  background-color: green;
} */